{% extends 'shared/_layout.html' %}
{% load thumbnail %}
{% load poll_extras %}
{% load static %}

{% block title %}
    فروشگاه تاپ لرن | صفحه اصلی
{% endblock %}

{% block content %}
    <section id="slider"><!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        {% comment %} <ol class="carousel-indicators">
                            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#slider-carousel" data-slide-to="1"></li>
                        </ol>{% endcomment %}

                        <div class="carousel-inner">

                            {% for slider in sliders %}
                                <div class="item {% if forloop.first %} active {% endif %}">
                                    <div class="col-sm-6">
                                        <h2>{{ slider.title }}</h2>
                                        <p>{{ slider.description }}</p>
                                        <a href="{{ slider.url }}"
                                           target="_blank"
                                           class="btn btn-default get">{{ slider.url_title }}</a>
                                    </div>
                                    <div class="col-sm-6">
                                        {% thumbnail slider.image "500x400" quality=90 crop='center' as im %}
                                            <img src="{{ im.url }}" class="girl img-responsive">
                                        {% endthumbnail %}
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section><!--/slider-->

    <section>
        <div class="container">
            <div class="row">

                <div class="recommended_items"><!--NewProduct_items-->
                    <h2 class="title text-center">جدیدترین محصولات</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for group in latest_products %}
                                <div class="item {% if forloop.first %} active {% endif %}">
                                    {% for product in group %}
                                        {% include 'includes/product_item_partial.html' with product=product col_size=3 %}
                                    {% endfor %}
                                </div>
                            {% endfor %}

                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/NewProduct_items-->

                <div class="col-sm-12 padding-right">
                    <div class="features_items"><!--RetailSale_items-->
                        <a href="shop-2.html"><h2 class="title text-center">پربازدیدترین محصولات</h2></a>
                        <div id="new-item-carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for group in most_visited_products %}
                                    <div class="item {% if forloop.first %} active {% endif %}">
                                        {% for product in group %}
                                            {% include 'includes/product_item_partial.html' with product=product col_size=3 %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}

                            </div>
                            <a class="left recommended-item-control" href="#new-item-carousel" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right recommended-item-control" href="#new-item-carousel" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div><!--RetailSale_items-->

                    <div class="features_items"><!--WholeSale_items-->
                        <a href="shop.html"><h2 class="title text-center">پرفروش ترین محصولات</h2></a>
                        <div id="major-item-carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="col-sm-3">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="/static/images/home/product.jpg" alt=""/>
                                                    <h2>2.500.000 R</h2>
                                                    <p>توضیحات کوتاه محصـول</p>
                                                    <a href="#" class="btn btn-default add-to-cart"><i
                                                            class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                                                </div>
                                                <div class="product-overlay">
                                                    <div class="overlay-content">
                                                        <h2>2.500.000 R</h2>
                                                        <p>توضیحات کوتاه محصـول</p>
                                                        <a href="#" class="btn btn-default add-to-cart"><i
                                                                class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="choose">
                                                <ul class="nav nav-pills nav-justified">
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-plus-square"></i>لیست علاقه مندی ها
                                                        </a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-plus-square"></i>مقایسه</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="/static/images/home/product.jpg" alt=""/>
                                                    <h2>2.500.000 R</h2>
                                                    <p>توضیحات کوتاه محصـول</p>
                                                    <a href="#" class="btn btn-default add-to-cart"><i
                                                            class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                                                </div>
                                                <div class="product-overlay">
                                                    <div class="overlay-content">
                                                        <h2>2.500.000 R</h2>
                                                        <p>توضیحات کوتاه محصـول</p>
                                                        <a href="#" class="btn btn-default add-to-cart"><i
                                                                class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="choose">
                                                <ul class="nav nav-pills nav-justified">
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-plus-square"></i>لیست علاقه مندی ها
                                                        </a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-plus-square"></i>مقایسه</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="/static/images/home/product.jpg" alt=""/>
                                                    <h2>2.500.000 R</h2>
                                                    <p>توضیحات کوتاه محصـول</p>
                                                    <a href="#" class="btn btn-default add-to-cart"><i
                                                            class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                                                </div>
                                                <div class="product-overlay">
                                                    <div class="overlay-content">
                                                        <h2>2.500.000 R</h2>
                                                        <p>توضیحات کوتاه محصـول</p>
                                                        <a href="#" class="btn btn-default add-to-cart"><i
                                                                class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="choose">
                                                <ul class="nav nav-pills nav-justified">
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-plus-square"></i>لیست علاقه مندی ها
                                                        </a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-plus-square"></i>مقایسه</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="/static/images/home/product.jpg" alt=""/>
                                                    <h2>2.500.000 R</h2>
                                                    <p>توضیحات کوتاه محصـول</p>
                                                    <a href="#" class="btn btn-default add-to-cart"><i
                                                            class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                                                </div>
                                                <div class="product-overlay">
                                                    <div class="overlay-content">
                                                        <h2>2.500.000 R</h2>
                                                        <p>توضیحات کوتاه محصـول</p>
                                                        <a href="#" class="btn btn-default add-to-cart"><i
                                                                class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="choose">
                                                <ul class="nav nav-pills nav-justified">
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-plus-square"></i>لیست علاقه مندی ها
                                                        </a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-plus-square"></i>مقایسه</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-sm-3">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="/static/images/home/product.jpg" alt=""/>
                                                    <h2>2.500.000 R</h2>
                                                    <p>توضیحات کوتاه محصـول</p>
                                                    <a href="#" class="btn btn-default add-to-cart"><i
                                                            class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                                                </div>
                                                <div class="product-overlay">
                                                    <div class="overlay-content">
                                                        <h2>2.500.000 R</h2>
                                                        <p>توضیحات کوتاه محصـول</p>
                                                        <a href="#" class="btn btn-default add-to-cart"><i
                                                                class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="choose">
                                                <ul class="nav nav-pills nav-justified">
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-plus-square"></i>لیست علاقه مندی ها
                                                        </a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-plus-square"></i>مقایسه</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="/static/images/home/product.jpg" alt=""/>
                                                    <h2>2.500.000 R</h2>
                                                    <p>توضیحات کوتاه محصـول</p>
                                                    <a href="#" class="btn btn-default add-to-cart"><i
                                                            class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                                                </div>
                                                <div class="product-overlay">
                                                    <div class="overlay-content">
                                                        <h2>2.500.000 R</h2>
                                                        <p>توضیحات کوتاه محصـول</p>
                                                        <a href="#" class="btn btn-default add-to-cart"><i
                                                                class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="choose">
                                                <ul class="nav nav-pills nav-justified">
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-plus-square"></i>لیست علاقه مندی ها
                                                        </a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-plus-square"></i>مقایسه</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="/static/images/home/product.jpg" alt=""/>
                                                    <h2>2.500.000 R</h2>
                                                    <p>توضیحات کوتاه محصـول</p>
                                                    <a href="#" class="btn btn-default add-to-cart"><i
                                                            class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                                                </div>
                                                <div class="product-overlay">
                                                    <div class="overlay-content">
                                                        <h2>2.500.000 R</h2>
                                                        <p>توضیحات کوتاه محصـول</p>
                                                        <a href="#" class="btn btn-default add-to-cart"><i
                                                                class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="choose">
                                                <ul class="nav nav-pills nav-justified">
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-plus-square"></i>لیست علاقه مندی ها
                                                        </a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-plus-square"></i>مقایسه</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="/static/images/home/product.jpg" alt=""/>
                                                    <h2>2.500.000 R</h2>
                                                    <p>توضیحات کوتاه محصـول</p>
                                                    <a href="#" class="btn btn-default add-to-cart"><i
                                                            class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                                                </div>
                                                <div class="product-overlay">
                                                    <div class="overlay-content">
                                                        <h2>2.500.000 R</h2>
                                                        <p>توضیحات کوتاه محصـول</p>
                                                        <a href="#" class="btn btn-default add-to-cart"><i
                                                                class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="choose">
                                                <ul class="nav nav-pills nav-justified">
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa fa-plus-square"></i>لیست علاقه مندی ها
                                                        </a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-plus-square"></i>مقایسه</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="left recommended-item-control" href="#major-item-carousel" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right recommended-item-control" href="#major-item-carousel" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div><!--WholeSale_items-->

                    <div class="category-tab"><!--category-tab-->
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                {% for categories_product in categories_products %}
                                    <li class="{% if forloop.first %} active {% endif %}"><a
                                            href="#Tab_{{ categories_product.id }}"
                                            data-toggle="tab">{{ categories_product.title }}</a></li>
                                {% endfor %}

                            </ul>
                        </div>
                        <div class="tab-content">
                            {% for categories_product in categories_products %}
                                <div class="tab-pane fade {% if forloop.first %}active in{% endif %}"
                                     id="Tab_{{ categories_product.id }}">
                                    {% for product in categories_product.products %}
                                        <div class="col-sm-3">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        {% thumbnail product.image "268x250" quality=90 crop='center' as im %}
                                                            <img src="{{ im.url }}">
                                                        {% endthumbnail %}
                                                        <h2>{{ product.price | three_digits_currency }}</h2>
                                                        <p>{{ product.title }}</p>
                                                        <a href="{{ product.get_absolute_url }}"
                                                           class="btn btn-default add-to-cart"><i
                                                                class="fa fa-shopping-cart"></i>نمایش محصول</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            {% endfor %}

                        </div>
                    </div><!--/category-tab-->

                </div>

            </div>
        </div>
    </section>
    <!--chat-box-->

    <section class="chatbox-wrapper">
        <div class="chatbox-toggle">
            <i class="ri-message-3-line" ></i>
        </div>
        {% if not request.user.is_superuser %}
        <div class="chatbox-message-wrapper">
            {% comment %} conversation header {% endcomment %}
            <div class="chatbox-message-header" >
                <div class="chatbox-message-profile">
                    <i class="ri-customer-service-2-line"></i>
                    <div>
                        <h4 class="chatbox-message-name">پشتیبانی</h4>
                        <p class="chatbox-message-status">آنلاین</p>
                        <p class="chatbox-message-status">آفلاین</p>
                    </div>
                </div>
            </div>
            <div class="chatbox-message-content"> 
                {% if request.user.is_authenticated %}
                <div id="is_authenticated" value="True" ></div>
                <div id="room_data" data-room-id="{{ room_id }}" style="display: none;"></div>
                <div id="username" data-user-name="{{ username }}" style="display: none;"></div>
                {% else %}
                <div id="is_authenticated" value="False" ></div>
                {% endif %}
            
                <div class="contact__us-conversation" id="conversation-wrapper">
                    <div class="login__conversation-wrapper" id="login-wrapper">
                        <p class="login__wrapper-text">دوست عزیز بنظر می رسد حساب کاربری ندارید ! <br/>
                            برای ساخت حساب موقت ایمیل خود را وارد کنید
                        </p>
                        <p class="login__wrapper-text">ایمیل :</p>
                        <form class="contact__us-conversation-form" action='#' id="login-from">
                            {% csrf_token %}
                            <input  class="contact__us-conversation-input" placeholder="اینجا بنویسید ..."
                            id='login-input'></input>
                            <h4 id='login-problem'><h4>
                            <button class="contact__us-conversation-input-submit" id="login-button" type="submit">
                                <i class="ri-send-plane-2-line" id='login-btn-2'></i>
                            </button>
                        </form>
                    </div>
                    
                    <!--otp-->
                    <div class="otp__conversation-wrapper" id="otp-wrapper">
                        <h4>رمز یکبار مصرف را وارد کنید</h4>
                        <form class="otp__field-form" id='otp-form' action="#">
                            <div class="otp__field-wrapper">
                                {% csrf_token %}
                                <input type="number" class="otp__conversation-input" />
                                <input type="number" class="otp__conversation-input" disabled />
                                <input type="number" class="otp__conversation-input" disabled />
                                <input type="number" class="otp__conversation-input" disabled />
                                <input type="number" class="otp__conversation-input" disabled />
                                <input type="number" class="otp__conversation-input" disabled />
                            </div>
                            <button class="otp__sub-but" id="otp-next-conversation" type="submit">تایید</button>
                        </form>
                    </div>
                    <h4 class="chatbox-message-no-message" id="no-message">!هنوز پیامی ارسال نکردید</h4>
                    </div>
                </div>
            
                <div class="chatbox-message-bottom">
                    <form class="chatbox-message-form">
                        <textarea class="chatbox-message-input" rows="1" placeholder="اینجا بنویسید ..."></textarea>
                        <button class="chatbox-message-submit" type="submit">
                            <i class="ri-send-plane-2-line"></i>
                        </button>
                    </form>
                </div>
            {% comment %} end conversation bottom {% endcomment %}
        </div>
        {% endif %}
    </section>
    
{% endblock %}